<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

    {% include "headincludes.html" %}


</head>
<body>
<div class="body">

<!-- Top-wrap -->
<!--<div class="top-wrap">
	<div class="container top-wrap-inner">
		<div class="col-md-12">
			<div class="top-login">
				<!-- Welcome Guest! -->
                <!-- <a href="#">User Login</a>
			</div>

			<a href="#">
				<div class="top-language">Select Language</div>
			</a>

			<a href="#">
				<div class="top-cart">Shoping Cart</div>
			</a>
		</div>
	</div>
</div>-->
<!-- Top-wrap -->

<!-- Header -->
<header>
   <div class="container">
      <div class="col-md-12">
         <!-- Logo -->
         <div class="col-md-2">
            <h1 class="logo"><a href="/"><img src="images/logo.png" title="Myskoo" class="img-responsive"></a></h1>
         </div>


          <!-- Navmenu -->
          <div class="col-md-10">
              <div id='topnav'>
                  <ul class="top-menu">
                      <li class='has-sub'>
                          <a href='/'><span>Home</span></a>
                          <!-- <ul>
                              <li><a href="./index.html">Home - Version 1</a></li>
                              <li><a href="./index_2.html">Home - Version 2</a></li>
                              <li><a href="./index_3.html">Home - Version 3</a></li>
                              <li><a href="./index_4.html">Home - Version 4</a></li>
                              <li><a href="./index_5.html">Home - Version 5</a></li>
                              <li><a href="./index_6.html">Home - Version 6</a></li>
                              <li><a href="./index_7.html">Home - Version 7</a></li>
                              <li><a href="./index_8.html">Home - Version 8</a></li>
                              <li><a href="./index_9.html">Home - Version 9</a></li>
                              <li><a href="./index_10.html">Home - Version 10</a></li>
                           </ul>-->
                      </li>
                      <li class='has-sub'>
                          <a href='/features'><span>Features</span></a>
                          <!--<ul>
                             <li class="has-sub">
                                <a class="nav-sub" href='#'><span>Headers</span></a>
                                <ul>
                                   <li><a href="./index_header2.html">Header - Version 2</a></li>
                                   <li><a href="./index_header3.html">Header - Version 3</a></li>
                                   <li><a href="./index_header4.html">Header - Version 4</a></li>
                                   <li><a href="./index_header5.html">Header - Version 5</a></li>
                                   <li><a href="./index_header6.html">Header - Version 6</a></li>
                                </ul>
                             </li>
                             <li class="has-sub">
                                <a href='#'><span>Footers</span></a>
                                <ul>
                                   <li><a href="./footer_2.html">Footer - Version 2</a></li>
                                   <li><a href="./footer_3.html">Footer - Version 3</a></li>
                                   <li><a href="./footer_4.html">Footer - Version 4</a></li>
                                </ul>
                             </li>
                             <li><a href='./shortcodes.html'><span>Elements</span></a></li>
                             <li><a href='./pricing.html'><span>Pricing Table</span></a></li>
                             <li><a href='./full-width.html'><span>Grid System</span></a></li>
                          </ul>-->
                      </li>
                      <li class="has-sub">
                          <a href='/aboutus'><span>About Us</span></a>
                          <!--<ul>
                            <li><a href="./shop.html">Shop - Home</a></li>
                            <li><a href="./shop_single.html">Shop Single</a></li>
                          </ul>-->
                      </li>
                      <li>
                          <a href='/contact'><span>Contact</span></a>
                      </li>
                      <li class="last active has-sub">
                          <a href='/login'><span>Login</span></a>
                      </li>
                      <!--<li class="has-sub">
                          <a href='#'><span>Forums</span></a>
                          <ul>
                          <li><a href="./forums_1.html">Forum - Home</a></li>
                            <li><a href="./forums_2.html">Forum - Post</a></li>
                          </ul>
                      </li>
                      <li class='has-sub'>
                         <a href='#'><span>Portfolio</span></a>
                         <ul>
                            <li class="has-sub">
                               <a class="nav-sub" href='#'><span>Portfolio - style1</span></a>
                               <ul>
                                  <li><a href="./portfolio_1_2col.html">Portfolio - 2 Col</a></li>
                                  <li><a href="./portfolio_1_3col.html">Portfolio - 3 Col</a></li>
                                  <li><a href="./portfolio_1_4col.html">Portfolio - 4 Col</a></li>
                               </ul>
                            </li>
                            <li class="has-sub">
                               <a class="nav-sub" href='#'><span>Portfolio - style2</span></a>
                               <ul>
                                  <li><a href="./portfolio_2_2col.html">Portfolio - 2 Col</a></li>
                                  <li><a href="./portfolio_2_3col.html">Portfolio - 3 Col</a></li>
                               </ul>
                            </li>
                            <li><a href='./portfolio_3_3col.html'><span>Portfolio - style3</span></a></li>
                            <li><a href='./portfolio_wsidebar.html'><span>Portfolio - w/sidebar</span></a></li>
                            <li class="has-sub">
                               <a class="nav-sub" href='#'><span>Portfolio - Single</span></a>
                               <ul>
                                  <li><a href="./portfolio_single1.html">Portfolio - single1</a></li>
                                  <li><a href="./portfolio_single2.html">Portfolio - single2</a></li>
                                  <li><a href="./portfolio_single3.html">Portfolio - single3</a></li>
                               </ul>
                            </li>
                         </ul>
                      </li>
                      <li class='has-sub'>
                         <a href='#'><span>Blog</span></a>
                         <ul>
                            <li><a href='./blog1.html'><span>Blog - version 1</span></a></li>
                            <li><a href='./blog2.html'><span>Blog - version 2</span></a></li>
                            <li><a href='./blog3.html'><span>Blog - version 3</span></a></li>
                            <li><a href='./blog.html'><span>Blog - version 4</span></a></li>
                            <li><a href='./blog4.html'><span>Blog - version 5</span></a></li>
                            <li><a href='./blog5.html'><span>Blog - version 6</span></a></li>
                            <li><a href='./blog6.html'><span>Blog - version 7</span></a></li>
                            <li><a href='./blog_single.html'><span>Blog - Single</span></a></li>
                         </ul>
                      </li>
                      <li class='has-sub-full'>
                         <a href='#'><span>Pages</span></a>
                         <ul class="full-sub">
                            <li class="col-md-3">
                               <ul>
                                  <li class="sub-head">Page Layouts</li>
                                  <li><a href="./full-width.html">Page Fullwidth</a></li>
                                  <li><a href="./right_side_navigator.html">Page Right Sidebar</a></li>
                                  <li><a href="./left_side_navigator.html">Page Left Sidebar</a></li>
                                  <li><a href="./testimonials_1">Testimonials 1</a></li>
                                  <li><a href="./testimonials_2">Testimonials 2</a></li>
                                  <li><a href="./404.html">404 Page</a></li>
                               </ul>
                            </li>
                            <li class="col-md-3">
                               <ul>
                                  <li class="sub-head">Product & Services</li>
                                  <li><a href="./pricing.html">Pricing Table </a></li>
                                  <li><a href="./shop.html">Product Page</a></li>
                                  <li><a href="./shop_single.html">Product Single</a></li>
                                  <li><a href="./services.html">Service Page 1</a></li>
                                  <li><a href="./services_1.html">Service Page 2</a></li>
                                  <li><a href="./forums_1.html">Forum Page 1</a></li>
                               </ul>
                            </li>
                            <li class="col-md-3">
                               <ul>
                                  <li class="sub-head">Company</li>
                                  <li><a href="./about_1.html">About Us Page 1</a></li>
                                  <li><a href="./about_2.html">About Us Page 2</a></li>
                                  <li><a href="./about_3.html">About Us Page 3</a></li>
                                  <li><a href="./about_4.html">About Us Page 4</a></li>
                                  <li><a href="./testimonials_1.html">Testimonials page 1</a></li>
                                  <li><a href="./testimonials_2.html">Testimonials page 1</a></li>
                               </ul>
                            </li>
                            <li class="col-md-3">
                               <ul>
                                  <li class="sub-head">Customers Support</li>
                                  <li><a href="./contact.html">Contact Us 1</a></li>
                                  <li><a href="./contact_1.html">Contact Us 2</a></li>
                                  <li><a href="./contact_2.html">Contact Us 3</a></li>
                                  <li><a href="./faq_1.html">FAQ Page 1</a></li>
                                  <li><a href="./faq_1.html">FAQ Page 2</a></li>
                                  <li><a href="./forums_2.html">Forum Page 2</a></li>
                               </ul>
                            </li>
                         </ul>
                      </li>
                      <li class="has-sub">
                         <a href='#'><span>Contact</span></a>
                         <ul>
                            <li><a href="./contact.html">Contact 1</a></li>
                            <li><a href="./contact_1.html">Contact 2</a></li>
                            <li><a href="./contact_2.html">Contact 3</a></li>
                         </ul>
                      </li>-->
                  </ul>
              </div>
          </div>


          <!-- Search -->
	<!--<div class="head-search">
		<form id="header-search" action="">
			<input type="search" name="s"		 id="s" placeholder="Search">
		</form>
	</div>-->

      </div>
   </div>
</header>
<!-- Header -->

<!-- Page Head -->
<div class="page-head">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Login</h3>
			</div>

			<div class="ol-md-6">
				<ol class="breadcrumb">
					You are here:
					<li><a href="index.html">Home</a></li>
					<li class="active">Login</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- Page Head -->

<div class="space60"></div>

<!-- Contact-Map -->
<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <div class="loginsection">
                <a href="/" class="w-inline-block loginheaderlink">
                  <div class="loginheadertext"><h3>Myskoo Login</h3></div>
                </a>
				<div class="col-md-3"></div>
                <div class="col-md-6">
                	<form>
                    	<div class="row">
                        	<input type="text" placeholder="Type your Phone Number or email" class="form-control form-email">
                        </div>
                        <div class="clearfix"></div>
                        
                        <div class="space15"></div>
                        <div class="row">
                            <input type="password" placeholder="Type your Password" class="form-control">
                        </div>
                        
                        <div class="clearfix"></div>
                        <div class="col-md-3"></div>
                        <div class="form-btn col-md-6 row">
							<div class="space15"></div>
                            <button type="button" class="button-blue btn form-control">Login</button>
                        </div>
                        <div class="col-md-3"></div>
                        
                        <div class="clearfix"></div>
                    </form>
			</div>
            <div class="col-md-3"></div>
            <div class="clearfix"></div>
            
            <div class="space20"></div>
            <div class="logininfotext">Parents - Contact your child's school to check if they are the part of Myskoo network</div>
            <div class="logininfotext">Schools - Contact us at contact@myskoo.com to join in our Myskoo network</div>
        </div>
    </div>
</div>
<!-- Contact-Map -->
</div>

<div class="space50"></div>


<!-- Footer and Footer Copyright -->

{%include "footer.html" %}

<!-- Footer and Footer Copyright -->

</div>


{% include "scriptincludes.html" %}


</body>
</html>